{{define "faqMenu"}}
<!DOCTYPE html>
<html>
  <head>
    <title>GDBrowser | FAQ</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="navdiv">
        <ul>
            <li><a href="/mainMenu" style="text-decoration: none;">Home</a></li>
            <li><a href="/searchMenu" style="text-decoration: none;">Search</a></li>
            <li><a href="/leaderboard" style="text-decoration: none;">Leaderboard</a></li>
        </ul>
      </div>
    </nav>
    <div class="contentContainer">
      <div class="leaderboardContainer">
        <h1>FAQ</h1>
        <p>Here are some frequently asked questions about GDSearch.</p>
        <div class="faq-box">
          <div class="faq-question">
            <h2>What is GDSearch?</h2>
            <p>GDSearch is a web application that allows you to explore user data from the game Geometry Dash. You can search for a user, view their information, and see the leaderboard of the top players in the game.</p>
          </div>
          <div class="faq-question">
            <h2>How do I search for a user?</h2>
            <p>To search for a user, go to the Search menu and enter the username of the player you want to find. Click the Search button, and you will be directed to the user's information page.</p>
          </div>
          <div class="faq-question">
            <h2>How do I view the leaderboard?</h2>
            <p>To view the leaderboard, click on the Leaderboard tab in the navigation bar. You can sort the leaderboard by stars, diamonds, or user coins by selecting the desired filter from the dropdown menu.</p>
          </div>
          <div class="faq-question">
            <h2>How do I pin a user?</h2>
            <p>To pin a user, search for the user you want to pin and click the Pin button on their information page. The user will be added to your pinned users list on the Search menu for easy access.</p>
          </div>
          <div class="faq-question">
            <h2>How do I unpin a user?</h2>
            <p>To unpin a user,
  </body>
</html>
{{end}}