{{define "faqMenu"}}
<!DOCTYPE html>
<html>
  <head>
    <title>GDBrowser | FAQ</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="navdiv">
        <ul>
            <li><a href="/mainMenu" style="text-decoration: none;">Home</a></li>
            <li><a href="/searchMenu" style="text-decoration: none;">Search</a></li>
            <li><a href="/leaderboard" style="text-decoration: none;">Leaderboard</a></li>
        </ul>
      </div>
    </nav>
    <div class="contentContainer">
      <div class="leaderboardContainer">
        <h1>FAQ</h1>
        <p>Here are some frequently asked questions about GDSearch.</p>
        <div class="faq-box">
          <div class="faq-question">
            <h2>What API does GDSearch use?</h2>
            <p>The "GDBrowserAPI" by GDColon</p>
          </div>
          <div class="faq-question">
            <h2>What endpoints are used?</h2>
            <p>https://gdbrowser.com/api/leaderboard : Leaderboard</p>
            <p>https://gdbrowser.com/api/profile/ + Username : User Information</p>
            <p>https://gdbrowser.com/api/level/ + Level ID : Level Information</p>
          </div>
          <div class="faq-question">
            <h2>What are the roots in this website?</h2>
            <p>http://localhost:8080/mainMenu : Main menu.</p>
            <p>http://localhost:8080/searchMenu : Search menu.</p>
            <p>http://localhost:8080/findUser : User stat menu.</p>
            <p>http://localhost:8080/findLevel : Level stat menu.</p>
            <p>http://localhost:8080/faqMenu : FAQ menu (you are here).</p>
            <p>http://localhost:8080/leaderboard : Leaderboard menu.</p>
            <p>http://localhost:8080/leaderboard/subtractPage : Previous Page.</p>
            <p>http://localhost:8080/leaderboard/addPage : Next Page.</p>
            <p>http://localhost:8080/pinUser : Pin selected user</p>
            <p>http://localhost:8080/unPinUser : Unpin selected user</p>
          </div>
        </div>
      </div>
  </body>
</html>
{{end}}