{{define "mainMenu"}}
<!DOCTYPE html>
  <head>
    <title>GDBrowser | Main Menu</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  </head>
  <body> 
    <nav class="navbar">
      <div class="navdiv">
        <ul>
            <li><a href="/mainMenu" style="text-decoration: none;">Home</a></li>
            <li><a href="/searchMenu" style="text-decoration: none;">Search</a></li>
            <li><a href="/leaderboard" style="text-decoration: none;">Leaderboard</a></li>
        </ul>
      </div>
    </nav>
    <video autoplay muted loop id="myVideo" disablePictureInPicture controlsList="nodownload">
      <source src="/videos/bgVideo.mp4" type="video/mp4">
    </video>
    <div class="contentContainer">
    <div class="content">
      <h1 class="welcomeText">WELCOME TO GDSEARCH</h1>
      <div class="description-box">
        GDSearch is your ultimate destination for exploring user's data on the game Geometry Dash. 
        You can search for a user, view their information, and see the leaderboard of the top players in the game.
        <form action="/faqMenu" method="post">
          <button type="submit" class="LeaderboardButton">FAQ</button>
        </form>
    </div>
  </div>
  </body>
</html>
{{end}}