{{define "searchMenu"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Search menu</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="navdiv">
        <ul>
            <li><a href="/mainMenu" style="text-decoration: none;">Home</a></li>
            <li><a href="/searchMenu" style="text-decoration: none;">Search</a></li>
            <li><a href="/leaderboard" style="text-decoration: none;">Leaderboard</a></li>
        </ul>
      </div>
    </nav>
    <h1>SEARCH MENU</h1>
    <form action="/findUser" method="post">
      <input type="text" name="username" placeholder="Enter a Username" required>
      <button type="submit">Search</button>
    </form>
    {{if .PinnedUsers}}
    <h1>PINNED USERS</h1>
    {{range .PinnedUsers}}
      <form action="/findUser" method="post">
        <input type="hidden" name="username" value="{{.}}">
        <button type="submit" class="LeaderboardButton">{{.}}</button>
      </form>
    {{end}}
    {{end}}
  </body>
</html>
{{end}}